extends ../panel.jade
block body
  .pull-right
    img(src=require("./sample.png"))
  button.btn.btn-primary(data-toggle="modal" data-target=".modal")
    .fa.fa-trash
  ul
    li animation
    li sprite
    li image
    li retina
    