.modal.modal-nav.fade
  .modal-dialog
    .modal-content
      .modal-header
        button(class="close" type="button" data-dismiss="modal")
          .fa.fa-power-off
        h4.modal-title(data-dismiss="modal") modal title
      .modal-body modal content
