.panel.panel-primary
  .panel-heading
    .panel-title panelOne
  .panel-body
    .pull-right
      img(src=require("file!../img/sample.png"))
    button.btn.btn-primary(data-toggle="modal" data-target=".modal")
      .fa.fa-trash